*{ 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body {
    font-family:  sans-serif;
    background-color: rgb(104, 104, 104);
}
.Signature {
    position: absolute;
    max-width: 24.5%;
    min-width: 235px;
    height: auto;
    left: 0;
    cursor: pointer;
}

.NavbarItems {
    background-color: #2b5dc7d7;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
}

nav ul {
    float: right;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin: auto;
    padding-left: 47%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 100;
}

a:hover{
    background: #6d76f7;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
nav ul li a{
    font-size: 16px;
}

  
@media (max-width: 650px){
    #tab{
        display: none;
    }
    a.skip{
        background: white;
        left: 0;
        padding: 2px;
        position: absolute;
        /* top: -40px; */
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        transform: translateY(-100%);
        -webkit-transition: translateY(-100%);
        transition: 0.5s;
    
    }
    a.skip:focus{
        transform: translateY(50%);
    }
    .Signature {
        position: absolute;
        margin: auto;
        display: block;
        max-width: 50.5%;
        min-width: 330px;
        cursor: pointer;
        z-index: 1;
    }
    .checkbtn{
        display: block;
        margin-left: 95%;
    }
    .nav-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(211, 210, 210);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
        overflow: hidden;

    }
    nav ul li {
        display: block;
        margin: 60px 0;
        line-height: 30px;
        margin-right: 60%;
        text-align: center;
        justify-content: center;
    }
    nav ul li a {
        font-size: 20px;
        margin-left: -50%;
        color: black;
    }

    nav ul li a.contactclass:link,
    nav ul li a.contactclass:visited{
        background-color: #2b5dc7d7;
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
    }
    nav ul li a.portfolioclass:link,
    nav ul li a.portfolioclass:visited{
        background-color: #2b5dc7d7;
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    nav ul li a.aboutclass:link,
    nav ul li a.aboutclass:visited{
        background-color: #2b5dc7d7;
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
    }
    nav ul li a.active:link,
    nav ul li a.active:visited{
        background-color: #2b5dc7d7;
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    a:hover {
        background: none;
        color: #3498db;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .top_container{
        margin: 0;
        align-items: center !important;   
        background-color: rgb(104, 104, 104);
    }
    .top_container img{
        display: block;
        width: 45%;
        height: auto;
        border-radius: 60%;
        margin: auto;
        padding-top: 5%;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-top: 2.7%;
        font-size: 2.75rem;
        text-transform: uppercase;
        line-height: 3.2rem;
        color: #fff;
    }
    .page-break{
        display: flex;
        align-items: center !important;
        justify-content: center;
        margin-top: 3%;
    }
    .line{    
        width: 100%;
        max-width: 22%;
        height: .22rem;
        background-color: #fff;
        border-radius: 1rem;
        border-color: #fff!important;
    }
    .line:first-child{
        margin-right: 2%;
    }
    .line:last-child{
        margin-left: 2%;
    }
    .fa-star{
        display: block;
        color: #fff;
        text-align: center;
        max-width: 22%;
        font-size: 1.7rem;
    }
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 2.1%;
        color: #fff;
    }
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: 500;
        margin-top: 2.6%;
        font-size: 1.1rem;
        color: #fff;
        padding-bottom: 4%;
    }
    .content{
        background-color: #2b5dc7d7;
        overflow: auto;
    }
    .content h1{
        color: rgb(255, 255, 255);
    }
    .content img{
        display: block;
        width: 45%;
        height: auto;
        margin: auto;
        padding-top: 5%;
    }
    .flex-container{
        display: flex;
        flex-direction: column;    
    }
    .projects{
        color: white;
        width: 50%;
        margin: auto;
        margin-top: 5%;
        padding: 20%;
        text-align: center;
        font-size: 1vw;
    }
    .projects:first-child{
        background: url('../img/Fyuzed.png') no-repeat, linear-gradient(-135deg, #c850c0, #4158d0);
        background-size: contain;
        background-position: center;
        opacity: 95%;
        
    }
    .projects:first-child:active{
        opacity: unset; }

    .projects:nth-child(2){
        background-image: url('../img/smartmirror.jpg');
        background-size: cover;
        opacity: 95%; }
    .projects:nth-child(2):active{
        opacity: unset;
    }
    .projects:last-child{
        background-image: url('../img/StudyBuddyLogo.png');
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 95%; 
        margin-bottom: 5%;
        background-position: center;
        
    }
    .projects:last-child:active{
        opacity: unset;
    }
    .about-content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5%;
    }
    .about-content h2{
        font-size: 1.34rem;
        font-weight: 500;
        padding-bottom: 1%;
        text-align: center;
        }
    .about-content p{
        font-size: 1.15rem;
        font-weight: 300;
        color: white;
        line-height: 1.35;
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        }
    .about-content p a{
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
    }
    .about-content p a:hover{
        color: #2b5dc7d7;
        transition: ease-in .5;
    }
    footer{
        background-color: #2b5dc7d7;
        position: sticky bottom;
    }
    footer h1{
        font-size: 2em;
    }
    .socialmedia{
        text-align: center;
        margin-top: 5%;
    }
    .fa-linkedin-in{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    
    .social-btn-hypl:first-child{
        margin-right: 5%;
    }
    .fa-envelope{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    .social-btn-hypl:nth-child(2){
        margin-right: 5%;
    }
    .fa-facebook-f{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    .about{
        font-size: 1.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .dec-sel{
        font-size: 1.2em;
        margin-top: 1%;
    }
    .image-slideshow{
        width: 35vh;
        height: 35vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .image-slideshow img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
    .in-bio-sel1{
        color: #fff;
        line-height: 1.5;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
    }
    .in-bio-sel1 strong{
        font-weight: bold;
        font-style: italic;
    }
    .m-p2-01{
        padding-top: 4.6%;
        overflow: auto;
        margin-top: 0;
    }
    .m-p2-01 p a{
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
    }
    .m-p2-01 p a:hover{
        color: #2b5dc7d7;
        transition: ease-in .5;
    }
    .project_grd{
        display: grid;
        grid-template-areas:
        "f1"
        "img1"
        "f2"
        "img2"
        "f3"
        "img3";
        grid-template-columns: minmax(0,87%);
        justify-content: center;
    }
    .feature{
        color: #fff;
        word-wrap: break-word;
        overflow: hidden;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .feature h1{
        font-weight: 700;
        font-size: 2em;
    }

    .feature p{
        text-align: left;
        line-height: 1.15;
    }
    .img-container{    
        width: 100%;
    }

    .img-container img{
        width: 100%;

    }
    .project_grd hr{
        border-top: 1px dashed;
        color: #fff;
    }
    .intro-fin p{
        margin-top: 2%;
        color: #fff;
        line-height: 1.25;
        text-align: center;
    }
    .resume{
        margin-top: 5%;
        text-align: center;
    }
    iframe{
        height: 585px;
        width: 400px;
    }
    form{
        color: #fff
    }
    label input{
        margin: auto;
        margin-top: .9%;
        margin-bottom: 2%;
        width: 50%;
        text-align: center;
    }
    textarea{
        font-size: 13px;
        width: 75%;
        margin-top: 1%;
    }
    button{
        margin-top: 2%;
        width: 75px;
        height: 50px;
        border-radius: 50px;
        margin-left: 15%;
        background-color: #4158d0;
        border: none;
        color: #fff;
        position: relative;
        margin-left: 0px;
        
    }
    button:active{
        opacity: 70%;
    }
    /*.project_grd{
        display: grid;
        height: auto;
        grid-auto-flow: column;
        gap: 0px;
        grid-template-areas:
            "feature-1 img-1"
            "img-2 feature-2"
            "feature-3 img-3";
    }
    .feature-1{
        margin-top: 2%;
        width: 100%;
        height: 17rem;
        color: #fff;
        text-align: center;
        grid-area: feature-1 / feature-1 / feature-1 / feature-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .lrkas{
        height: 100%;
        min-width: 0px;
        text-align: center;
        grid-area: feature-1 / feature-1 / feature-1 / feature-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .img-container-1{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: auto;
        overflow: hidden;
        position: relative;
    }
    
    .ltm{
        height: 100%;
        min-width: 0px;
        text-align: center;
        grid-area: img-1 / img-1 / img-1 / img-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .img-container-1 img{
        width: 80%; 
        background-color: #717274 
    }
    .feature-1 h1{
        margin-top: 5%;
        text-align: center;
    }
    .feature-1 p{
        line-height: 1.5;
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 3%;
        margin-top: 3%;
    }
    .azd{
        text-align: center;
    }
    .azd img{
        position: relative;
        width: 80%;
        margin: auto;
        align-self: center;
        justify-self: center;
        background-color: #717274;
       
    }
    .rbm{
        text-align: center;
    }
    .rbm img{
        position: relative;
        width: 80%;
        margin: auto;
        align-self: center;
        justify-self: center;
    } */
}
@media (min-width: 650px){
    #phone{
        display:none;
    }
    a.skip{
        background: white;
        left: 0;
        padding: 2px;
        position: absolute;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        transform: translateY(-100%);
        -webkit-transition: translateY(-100%);
        transition: 0.5s;
    
    }
    a.skip:focus{
        transform: translateY(50%);
    }
    .Signature {
        position: absolute;
        margin: auto;
        display: block;
        max-width: 46.5%;
        min-width: 330px;
        cursor: pointer;
        z-index: 1;
        left: -70px;
        animation-name: rotate_name;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    @-webkit-keyframes rotate_name{
        /*Your code here.*/
        from{left: -100%;}
        to{right: 100%;}
        
    }
    @media screen and (prefers-reduced-motion: reduce){
        .Signature{
          animation:none;
        }
      }
    .nav-menu{
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: auto;
    }
    nav ul li {
        display: block;
        
    }
    nav ul li a {
        font-size: 1.8vw;
        color: #fff;
        margin: auto;
        display: flex;
    }

    nav ul li a.contactclass:link,
    nav ul li a.contactclass:visited{
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
    }
    nav ul li a.portfolioclass:link,
    nav ul li a.portfolioclass:visited{
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
    }
    
    nav ul li a.aboutclass:link,
    nav ul li a.aboutclass:visited{
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
    }
    nav ul li a.active:link,
    nav ul li a.active:visited{
        color: #fff;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
    }
    
    a:hover {
        background: none;
        color: #3498db;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .top_container{
        margin: 0;
        align-items: center !important;   
        background-color: rgb(104, 104, 104);
    }
    .top_container img{
        display: block;
        width: 40%;
        height: auto;
        margin: auto;
        padding-top: 5%;
    }
    h1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-top: 2.7%;
        font-size: 2.75rem;
        text-transform: uppercase;
        line-height: 3.2rem;
        color: #fff;
    }
    .page-break{
        display: flex;
        align-items: center !important;
        justify-content: center;
        margin-top: 3%;
    }
    .line{    
        width: 100%;
        max-width: 22%;
        height: .22rem;
        background-color: #fff;
        border-radius: 1rem;
        border-color: #fff!important;
    }
    .line:first-child{
        margin-right: 2%;
    }
    .line:last-child{
        margin-left: 2%;
    }
    .fa-star{
        display: block;
        color: #fff;
        text-align: center;
        max-width: 22%;
        font-size: 1.7rem;
    }
    h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
        margin-top: 2.1%;
        color: #fff;
    }
    h3{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: 500;
        margin-top: 2.6%;
        font-size: 1.1rem;
        color: #fff;
        padding-bottom: 4%;
    }
    .content{
        background-color: #2b5dc7d7;
        overflow: auto;
    }
    .content h1{
        color: rgb(255, 255, 255);
    }
    .content img{
        display: block;
        width: 45%;
        height: auto;
        margin: auto;
        padding-top: 5%;
    }
    .flex-container{
        display: flex;
        flex-direction: row;   
        margin: auto;
        width: 75%;
        justify-content: center;
    }
    .projects{
        color: white;
        margin: auto;
        margin-top: 5%;
        padding: 20%;
        text-align: center;
        font-size: 1vw;
    }
    .projects:first-child{
        width: 100%;
        background: url('../img/Fyuzed.png') no-repeat, linear-gradient(-135deg, #c850c0, #4158d0);
        background-size: contain;
        background-position: center;
        opacity: 95%;
        margin-right: 5%;
        
    }
    .projects:first-child:active{
        opacity: unset; }

    .projects:nth-child(2){
        background-image: url('../img/smartmirror.jpg');
        background-size: contain;
        opacity: 95%; 
        margin-right: 5%;
    }
    .projects:nth-child(2):active{
        opacity: unset;
    }
    .projects:last-child{
        background-image: url('../img/StudyBuddyLogo.png');
        background-color: #fff;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 95%; 
        margin-bottom: 5%;
        background-position: center;
        
    }
    .projects:last-child:active{
        opacity: unset;
    }
    #p1{
        width: 20%;
    }
    .about-content{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 5%;
    }
    .about-content h2{
        font-size: 1.34rem;
        font-weight: 500;
        padding-bottom: 1%;
        text-align: center;
        }
    .about-content p{
        font-size: 1.15rem;
        font-weight: 300;
        color: white;
        line-height: 1.35;
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
        }
    .about-content p a{
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
    }
    .about-content p a:hover{
        color: #2b5dc7d7;
        transition: ease-in .5;
    }
    footer{
        background-color: #2b5dc7d7;
        position: sticky bottom;
    }
    footer h1{
        font-size: 2em;
    }
    .socialmedia{
        text-align: center;
        margin-top: 5%;
    }
    .fa-linkedin-in{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    
    .social-btn-hypl:first-child{
        margin-right: 5%;
    }
    .fa-envelope{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    .social-btn-hypl:nth-child(2){
        margin-right: 5%;
    }
    .fa-facebook-f{
        padding: 2%;
        color: #fff;
        font-size: 1.8em;
    }
    .about{
        font-size: 1.8em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .dec-sel{
        font-size: 1.2em;
        margin-top: 1%;
    }
    .image-slideshow{
        width: 35vh;
        height: 35vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .image-slideshow img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
    }
    .in-bio-sel1{
        color: #fff;
        line-height: 1.5;
        text-align: left;
        margin-left: 2%;
        margin-right: 2%;
    }
    .in-bio-sel1 strong{
        font-weight: bold;
        font-style: italic;
    }
    .m-p2-01{
        padding-top: 4.6%;
        overflow: auto;
        margin-top: 0;
    }
    .m-p2-01 p a{
        text-decoration: underline;
        color: #ffffff;
        font-weight: bold;
        font-size: 1rem;
    }
    .m-p2-01 p a:hover{
        color: #2b5dc7d7;
        transition: ease-in .5;
    }
    .project_grd{
        display: grid;
        grid-template-areas:
        "f1" "img1"
        "f2" "img2"
        "f3" "img3";
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        gap: 10px;
        row-gap: 2%;
        margin-bottom: 5%;
    }
    .feature{
        color: #fff;
        word-wrap: break-word;
        overflow: hidden;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .feature h1{
        font-weight: 700;
        font-size: 2em;
    }

    .feature p{
        text-align: left;
        line-height: 1.15;
    }
    .img-container{    
        width: 100%;
        align-items:center
    }

    .img-container img{
        width: 100%;
    }
    #hrg{
        display: none;
    }
    #ff1{
        margin-left: 2%;
    }
    #f1i{
        align-self: center;
        margin: auto;
        width: 80%;
    }
    #sb1{
        grid-row: 2/3;
        width: 60%;
        margin: auto;
    }
    #t6m{
        text-align: center;
        justify-content: center;
        vertical-align: middle;
    }
    #e7x{
        grid-row: 3/4;
        grid-column: 2/3;
        max-width: 80%;
        margin: auto;
    }
    #fe7z{
        margin-left: 2%;
    }
    .project_grd hr{
        border-top: 1px dashed;
        color: #fff;
    }
    .intro-fin p{
        margin-top: 2%;
        color: #fff;
        line-height: 1.25;
        text-align: center;
    }
    .resume{
        margin-top: 5%;
        text-align: center;
    }
    iframe{
        height: 585px;
        width: 400px;
    }
    form{
        color: #fff
    }
    label input{
        margin: auto;
        margin-top: .9%;
        margin-bottom: 2%;
        width: 50%;
        text-align: center;
    }

    textarea{
        font-size: 13px;
        width: 75%;
        margin-top: 1%;
    }
    button{
        margin-top: 2%;
        width: 75px;
        height: 50px;
        border-radius: 50px;
        margin-left: 15%;
        background-color: #4158d0;
        border: none;
        color: #fff;
        position: relative;
        margin-left: 0px;
        
    }
    button:active{
        opacity: 70%;
    }
    /*.project_grd{
        display: grid;
        height: auto;
        grid-auto-flow: column;
        gap: 0px;
        grid-template-areas:
            "feature-1 img-1"
            "img-2 feature-2"
            "feature-3 img-3";
    }
    .feature-1{
        margin-top: 2%;
        width: 100%;
        height: 17rem;
        color: #fff;
        text-align: center;
        grid-area: feature-1 / feature-1 / feature-1 / feature-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .lrkas{
        height: 100%;
        min-width: 0px;
        text-align: center;
        grid-area: feature-1 / feature-1 / feature-1 / feature-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .img-container-1{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: auto;
        overflow: hidden;
        position: relative;
    }
    
    .ltm{
        height: 100%;
        min-width: 0px;
        text-align: center;
        grid-area: img-1 / img-1 / img-1 / img-1;
        display: inline-flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: stretch;
    }
    .img-container-1 img{
        width: 80%; 
        background-color: #717274 
    }
    .feature-1 h1{
        margin-top: 5%;
        text-align: center;
    }
    .feature-1 p{
        line-height: 1.5;
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 3%;
        margin-top: 3%;
    }
    .azd{
        text-align: center;
    }
    .azd img{
        position: relative;
        width: 80%;
        margin: auto;
        align-self: center;
        justify-self: center;
        background-color: #717274;
       
    }
    .rbm{
        text-align: center;
    }
    .rbm img{
        position: relative;
        width: 80%;
        margin: auto;
        align-self: center;
        justify-self: center;
    } */
}